<?php
$finder = PhpCsFixer\Finder::create()
    ->in(['config', 'public', 'src', 'translations', 'bin']);

return PhpCsFixer\Config::create()
    ->setRules(['@Symfony' => true, 'array_syntax' => ['syntax' => 'short'], 'ordered_imports' => true])
    ->setFinder($finder);
