<h1 style="
    border: 1px solid black;
    border-radius: 0.25rem;
    background: black;
    color: white;
    font-family:
    fantasy;
    text-align: center;
    padding: 10px;">
    slave <p style="color: red"> {{ user.name | upper(user.name) }} {{ user.surname | upper(user.surname) }} </p> managed to escape
</h1>